<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" title="Torichan" href="/css/torichan.css" type="text/css">
    <link rel="stylesheet" title="Burichan" href="/css/burichan.css" type="text/css" disabled>
    <link rel="stylesheet" title="Futaba" href="/css/futaba.css" type="text/css" disabled>
    <link rel="stylesheet" title="Photon" href="/css/photon.css" type="text/css" disabled>
    <link rel="shortcut icon" href="/icons/favicon.ico" type="image/x-icon">
    <%- include('../fragments/tori-script') %>
    <title>Menu - <%- templateConstants.siteName() %></title>
</head>