<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/torichan.css">
    <title><%= statusCode %></title>
</head>
<body>
    <h1 class="tori-page-title">Error</h1>

    <div style="text-align: center">
        <p><strong><%= message %></strong></p>
        <p><a href="/">To the main page</a></p>
    </div>
</body>