<%- include('components/head-error') %>
<body>
    <h1 class="tori-page-title">Error</h1>

    <div style="text-align: center">
        <p><strong><%- message %></strong></p>
        <p><a href="/main">To the main page</a></p>
    </div>
</body>