<%- include('components/head-error') %>
<body>
    <h1 class="tori-page-title"><%= LOCALE.views.error.error %></h1>

    <div style="text-align: center">
        <p><strong><%- message %></strong></p>
        <p><a href="/main"><%= LOCALE.views.error.toMainPage %></a></p>
    </div>
</body>