<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="robots" content="nofollow">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%- include("fragments/styles-start"); %>
    <%- include('fragments/tori-script') %>
    <title>FAQ - <%- templateConstants.siteName %></title>
</head>
<body>
    <div class="tori-navbar">
        [<a href="/faq">FAQ</a>] [<a href="/rules">Rules</a>] [<a href="/admin">Management</a>] [<a href="/">Home</a>]
    </div>
    <br clear="all">

    <h1 class="tori-title">FAQ</h1>

    <div class="info-page">
        <h2>Posts markup</h2>
        <p>This imageboard based on Torichan Imageboard engine supports markup language.</p>

        <h3>Reflinks</h3>

        <p>Replies and opening posts in thread can be referenced by their number:</p>

        <a href="#">>>18000</a>

        <h3>Inline tags</h3>

        <table border="1">
            <thead><tr><td>Input</td><td>Output</td></tr></thead>
            <tbody>
            <tr><td>> quote</td><td><span class="quote">> quote</span></td></tr>
            <tr><td>%%spoiler%%</td><td><span class="spoiler">spoiler</span></td></tr>
            <tr><td>code```console.log('code');```</td><td><code>console.log('code');</code></td></tr>
            <tr><td>%cow%cow text%cow%</td><td><span class="cow">cow text</span></td></tr>
            <tr><td>~~stroke~~</td><td><s>stroke</s></td></tr>
            <tr><td>____underlined____</td><td><u>underlined</u></td></tr>
            <tr><td>___bold___</td><td><b>bold</b></td></tr>
            <tr><td>__italic__</td><td><i>italic</i></td></tr>
            </tbody>
        </table>

        <h3>URLs</h3>
        <p>If you post a url starting with either http:// or https://, it will automatically be linked.</p>
        <p>Attribute <code>rel="noreferrer"</code> is added to links in posts.</p>
    </div>

    <div class="tori-navbar">
        [<a href="/faq">FAQ</a>] [<a href="/rules">Rules</a>] [<a href="/admin">Management</a>] [<a href="/">Home</a>]
    </div>
    <br clear="all">

    <%- include('fragments/tori-footer') %>
</body>
</html>
