<%- include('components/head-start') %>
<body>
    <%- include('fragments/tori-navbar'); %>
    <br clear="all">

    <%- templateConstants.startPage() %>

    <br clear="all">

    <%- include('fragments/tori-footer') %>
</body>

