html, body {
  font-family: arial, helvetica, sans, serif;
  font-size: 10pt;
  margin-left: 0;
  margin-right: 0;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

.tori-footer {
  text-align: center;
  font-size: 12px;
  clear: both;
}

.tori-footer a {
  text-decoration: none;
}

.tori-navbar {
  float: right;
  font-size: 9pt;
  text-align: right;
}

.tori-page-title {
  text-align: center;
  clear: both;
  font-family: Tahoma, sans-serif;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -2px;
  margin-top: 0;
}

hr {
  border: none;
  border-top: 1px solid;
  height: 0;
}

hr.tori-above-post-form {
  width: 90%;
}

.tori-posting-form {
  text-align: left;
}

fieldset {
  margin: 0 auto;
  padding-right: 0.75em;
  width: 25em;
}

legend {
  text-align: center;
}

table.tori-post-form > tbody > tr > td:first-child {
  font-weight: 700;
  padding: 0 5px;
  font-size: 10pt;
}

ul.rules {
  padding-left: 10px;
  margin: 5px 0 0;
  font-size: 11px;
}

.thread {
  margin: 0;
  clear: both;
}

.op-container {
  display: inline;
}

.post {
  margin: 4px 0;
  overflow: hidden;
}

.op {
  display: inline;
}

.post .file {
  display: block;
}

.fileText {
  max-width: 600px;
  white-space: nowrap;
}

div.post div.file .fileThumb {
  float: left;
  margin: 3px 20px 5px;
}

div.post div.postInfo {
  display: block;
  width: 100%;
}

td.rules {
  border: none !important;
  background-color: transparent !important;
  font-weight: 400 !important;
}

div.post label.postInfo span.subject {
  font-weight: 700;
}

div.post label.postInfo span.name {
  font-weight: 700;
}

div.post a.postNum {
  text-decoration: none;
}

.reply-link {
  display: inline-block;
}

div.post blockquote.post-message {
  display: block;
  margin: 13px 40px 13px 40px;
}

.tori-page-list a {
  font-size: 11pt;
}

.tori-page-list form {
  display: inline;
}

.side-arrows {
  float: left;
  margin-right: 2px;
  margin-top: 0;
  margin-left: 2px;
}

div.post.reply {
  display: table;
  padding: 2px;
}

.omitted-posts {
  margin-top: 10px;
}

div.delete-form {
  float: right;
  margin-top: 2px;
  margin-bottom: 5px
}

.info-page {
  text-align: center;
}

.info-page table {
  margin: 0 auto;
}

form.changeStyleForm {
  display: inline;
}

@keyframes rain-bold {
  0% {
    color: red;
    text-shadow: -1px 0px orange, -2px 0px yellow, -3px 0px green, -4px 0px blue, -5px 0px indigo, -6px 0px violet;
  }
  14% {
    color: orange;
    text-shadow: -1px 0px yellow, -2px 0px green, -3px 0px blue, -4px 0px indigo, -5px 0px violet, -6px 0px red;
  }
  28% {
    color: yellow;
    text-shadow: -1px 0px green, -2px 0px blue, -3px 0px indigo, -4px 0px violet, -5px 0px red, -6px 0px orange;
  }
  43% {
    color: green;
    text-shadow: -1px 0px blue, -2px 0px indigo, -3px 0px violet, -4px 0px red, -5px 0px orange, -6px 0px yellow;
  }
  57% {
    color: blue;
    text-shadow: -1px 0px indigo, -2px 0px violet, -3px 0px red, -4px 0px orange, -5px 0px yellow, -6px 0px green;
  }
  71% {
    color: indigo;
    text-shadow: -1px 0px violet, -2px 0px red, -3px 0px orange, -4px 0px yellow, -5px 0px green, -6px 0px blue;
  }
  85% {
    color: violet;
    text-shadow: -1px 0px red, -2px 0px orange, -3px 0px yellow, -4px 0px green, -5px 0px blue, -6px 0px indigo;
  }
  100% {
    color: red;
    text-shadow: -1px 0px orange, -2px 0px yellow, -3px 0px green, -4px 0px blue, -5px 0px indigo, -6px 0px violet;
  }
}

.cow {
  animation: rain-bold 1s linear infinite;
  color: red;
  font-size: 1.5em;
  letter-spacing: 0.33em;
  margin-left: 6px;
  text-shadow: -1px 0px orange, -2px 0px yellow, -3px 0px green, -4px 0px blue, -5px 0px indigo, -6px 0px violet;
}

.download-result {
  margin-top: 10px;
  text-align: center;
}

.menu-header {
  font-weight: 700;
  font-size: 16px;
}

.menu-link {
  display: block;
  text-decoration: none;
}

.menu-header.brand {
  font-size: 21px;
}

.menu-link {
  padding: 5px 0 5px 0;
}

.tripcode {
  color: #ff3300;
}

.admin-tripcode {
  color: #dc00ff;
  font-weight: 900;
}