<div class="admin-options">
    <a href="/admin">Home</a>
    <a href="/admin/staff/me">My profile</a>
    <% if (session.role === 'ADMINISTRATOR') { %><a href="/admin/staff">Staff</a><% } %>
    <% if (session.role === 'ADMINISTRATOR') { %><a href="/admin/sql">SQL Console</a><% } %>
    <% if (session.role === 'ADMINISTRATOR') { %><a href="/admin/spam">Spam list</a><% } %>
    <% if (session.role === 'ADMINISTRATOR') { %><a href="/admin/filter">IP filter</a><% } %>
    <% if (session.role === 'ADMINISTRATOR') { %><a href="/admin/file">Disk space usage</a><% } %>
    <% if (session.role === 'ADMINISTRATOR') { %><a href="/admin/board">Boards</a><% } %>
    <a href="/admin/comment">Comments</a>
    <a href="/admin/ban">Bans</a>
</div>
<hr>