<div class="tori-navbar">
    [<a href="/main">Go to site</a>][<a href="/admin">Management</a>]
    <form action="/admin/sign-out" method="post" style="display: inline"><input type="submit" value="Sign out"></form>
</div>