<div class="admin-options">
    <a href="/admin">Home</a>
    <a href="/admin/staff/me">My profile</a>
    <a href="/admin/staff">Staff</a>
    <a href="/admin">SQL Console</a>
    <a href="/admin">Spam list</a>
    <a href="/admin">IP filter</a>
    <a href="/admin">Disk space usage</a>
    <a href="/admin/board">Boards</a>
    <a href="/admin/comment">Comments</a>
    <a href="/admin/ban">Bans</a>
</div>
<hr>