<div class="tori-navbar">
    [<a href="/main"><%= LOCALE.views.fragments.adminNavbar.goToSite %></a>][<a href="/admin"><%= LOCALE.views.fragments.adminNavbar.management %></a>]
    <form action="/admin/sign-out" method="post" style="display: inline"><input type="submit" value="<%= LOCALE.views.fragments.adminNavbar.signOut %>"></form>
</div>