<div class="tori-footer">
    Powered by <a href="https://github.com/d-indifference/torichan" target="_blank">torichan v0.4.0-alpha</a> + <a target="_blank" href="https://icons8.com">Icons8</a>
</div>