<div class="tori-sticky-nav">
    <div class="tori-navbar">
        <form class="changeStyleForm">
            <select name="styleList" onchange="changeStyle(this, styleCookie);">
                <option value="Torichan">Torichan</option>
                <option value="Burichan">Burichan</option>
                <option value="Futaba">Futaba</option>
                <option value="Photon">Photon</option>
            </select>
        </form>
        <%- templateConstants.siteNavbar() %>
    </div>
</div>