<div class="tori-navbar">
    [<% boards.forEach(board => { %>
        /<a href="/<%= board.slug %>" title="<%= board.name %>"><%= board.slug %></a>/
    <% }); %>] ||
    [<a href="/faq">FAQ</a>][<a href="/rules">Rules</a>] || [<a href="/admin">Management</a>][<a href="/">Home</a>]
</div>